#map{
    height: 400px;
    width: 80%;

}
#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: auto;
}
body, h1, h2, h3, p, ul, li, button {
    margin: 5px;
    padding: 5px;
}
.text-titles{
    color: #000000;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #e2fa08;
    color: #fff;
    text-align: center;
}
.text-header{
    padding-bottom: 10px;
    color: #000000;
}

.nav-header{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #000000;
}

nav ul li {
    display: inline-block;
    margin: 0 30px;
}


nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.section {
    background-color: antiquewhite;
}

h3 {
    color: #0066cc;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact, .always {
    display: flex;
    align-items: center;
}

.contact i, .always i {
    margin-right: 5px;
}

.always {
    margin-left: auto;
}
.contact {
    text-align: left; /* Centra horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: flex-start; /* Alinea a la izquierda horizontalmente */
    height: 200px; /* Ajusta la altura según sea necesario */
}

.contact p {
    margin-top: 10px; /* Añade un margen superior para separar el texto del ícono */
}

